@charset "UTF-8";

body
{
    background-image: url(imagens/fundo-de-textura-de-madeira.jpg);
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-right: 0;
}
#celular
{
    display: block;
    width: 760px; /*mesmos valores*/
    height: 760px;
    margin: auto;
}
.botão
{
    position: absolute;
    display: block;
    height: 100px;
    width: 100px;
    bottom: 100px;
}
#botões-direita
{
    display: flexbox;
    background-color: gray;
    width: 100px;
    height: 500px;
    margin-left:auto;
    margin-bottom: auto;
    

}
