@charset "UTF-8";

body
{
    background-image: url(imagens/fundo-de-textura-de-madeira.jpg);
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
}
#celular
{
    display: block;
    width: 900px; /*mesmos valores*/
    height: 900px;
    margin: auto;
}
.botão
{
    display: block;
    height: 100px;
    width: 100px;
    margin-left: auto;
}
